button {
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;

  &:hover {
    background-color: #eee;
    border-color: #dfdfdf;
  }
}

input {
  background-color: transparent;
  padding: 8px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
